@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}

* {
  box-sizing: border-box;
}
